/* Estilos generales */
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Cuadrado formado por flechas */
svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Nodo */
.node {
    width: 80px; /* Tamaño del nodo */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 32px; /* Tamaño del icono/emoticón */
}

/* Posicionamiento de los nodos en los vértices del cuadrado */
#node1 {
   /* left: calc(50% - 200px / 2 - 80px / 2); */
    left: calc(50% - 250px  - 40px );
    top: calc(50% - 270px / 2 - 80px / 2);
}

#node2 {
    left: calc(50% - 100px / 2 - 80px / 2);
    top: calc(50% - 270px / 2 - 80px / 2);
}

#node3 {
    left: calc(50% - 480px / 2 - 80px / 2);
    top: calc(50% + 100px / 2 - 80px / 2);
}

#node4 {
    left: calc(50% - 60px  - 80px / 2);
    top: calc(50% + 100px / 2 - 80px / 2);
}
